*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
MPV/build
MPV/src/main/obj
MPV/src/main/libs
/captures
.externalNativeBuild
.cxx
local.properties